%footer.footer
  .container
    %nav.float-left
      %ul
        %li= link_to "Geobike", root_path
        %li= link_to "About", about_path
        %li= link_to "Términos y condiciones", terms_path
    .copyright.float-right
      ©
      GeoBike 2018. Todos los derechos reservados.