.social-line.social-line-big-icons.social-line-white.mt-4
  .container
    .row
      .col-4
        %a.btn.btn-link.btn-just-icon.btn-instagram{href: "https://facebook.com/geobikeco", target: "_blank"}
          %i.fa.fa-facebook-square
      .col-4
        %a.btn.btn-link.btn-just-icon.btn-twitter{href: "#pablo", target: "_blank"}
          %i.fa.fa-twitter
      .col-4
        %a.btn.btn-link.btn-just-icon.btn-facebook{href: "https://instagram.com/geobike_co", target: "_blank"}
          %i.fa.fa-instagram

%footer.footer
  .container
    %nav.float-left
      %ul
        %li= link_to "Geobike", root_path
        %li= link_to "Acerca de", about_path
        %li= link_to "Términos y condiciones", terms_path
    .copyright.float-right
      ©
      GeoBike 2019. Todos los derechos reservados.