%footer.footer
  .container
    %nav.float-left
      %ul
        %li
          %a{:href => "#"}
            GeoBike
        %li
          %a{:href => "#"}
            Acerca de
        %li
          %a{:href => "#"}
            Términos y condiciones
    .copyright.float-right
      ©
      GeoBike 2018. Todos los derechos reservados.